<launch>

	<!--
	<node pkg="navigation" type="navigation_node" name="navigation_node" />-->
	<rosparam file="$(find navigation)/config/rosparam.YAML" />
	<!--
	
	<node pkg="pos_calculator" type="pos_calculator_node" name="pos_calculator_node" />
	-->
	<node pkg="navigation" type="navigation_node" name="navigation_node" output="screen" />


</launch>
